<a href="https://colab.research.google.com/github/chokr0216/-2/blob/master/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=2
b=3
c=a+b
print(c)

5

In [5]:
a=2
b=3
c=a+b
print(c)

5

# Python on Colabecond time
* First time
  * One
  
* Second time

In [41]:
sum=0
for i in range(11):
    i=i*i   
    sum +=i
print('sum', sum)

sum 385

In [43]:
a=2
b=8
print (a**b)

256

In [47]:
for value in x:
  print(value)

NameError: ignored

In [48]:
sum=0
for i in range(11):
    i=i*i   
    sum +=i
print('sum', sum)

sum 385

In [0]:

# Python on Colab

In [49]:
x=range(10)
for value in  x:
  print(value)

0
1
2
3
4
5
6
7
8
9

# Python on Colab


#

# Python on Colab
# Example 1-2
 ## 구글 Colab을 이용하여 1부터 10까지의 제곱을 화면에 출력하시오

In [50]:
sum=0
for i in range(11):
    i=i*i   
    sum +=i
print('sum', sum)

sum 385